body {

}
h1{
color: white;
text-align: center;
  font-family:fantasy;
  font-size: 5em;
  padding-top: 250px;
}
h2{
  color:white;
  text-align: center;
    font-family:fantasy;
    font-size: 2em;
  }
.title{
  background-image: url(../images/burger/burger2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height:700px;
}
