h1{
  text-align: center;
  font-size: 4em;
  color: grey;
}
.pricing-main{
  text-align: center;
  font-size: 1.3em;
  color: grey;
}
ul{
  list-style: none;
  text-align: left;
}
h4{
  text-align: left;
  padding-left: 20px;
}
